* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  background: rgb(230, 228, 222);
}

nav {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-evenly;
  background-color: red;
  filter: grayscale(100%);
}

.list-hover,
#more-tab {
  padding: 8px;
  color: rgb(196, 192, 192);
  text-decoration: none;
}

.list-hover:hover {
  background-color: rgb(97, 95, 95);
  border-radius: 5px;
}

#more-tab {
  background-color: rgb(97, 95, 95);
  border: solid 1px rgb(97, 95, 95);
  border-radius: 5px;
}

input {
  width: 250px;
  height: 50px;
  padding: 10px 0px 10px 25px;
  font-size: 20px;
  align-self: center;
  border-radius: 5px;
}

.placeholder {
  padding-left: 150px;
}

.logo {
  font-size: 25px;
  text-decoration: none;
  color: rgb(153, 150, 150);
}

.right-nav-items {
  position: relative;
}

.fa-search {
  position: absolute;
  top: 35%;
  margin-left: 5px;
}

.left-nav-items {
  border: 1px dotted gray;
  padding: 1rem 2rem;
  background-color: rgb(233, 229, 229);
}

.container {
  display: flex;
  flex-direction: column;
}

.section_one {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: red;
  height: auto;
}

.section_two {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: rgb(83, 185, 23);
  height: auto;
}

article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

.art_one {
  background: grey;
  width: 50%;
  padding: 10rem 5rem 0rem 5rem;
  color: white;
}

.art_two {
  background: rgb(97, 95, 95);
  width: 50%;
  padding: 10rem 5rem 0rem 5rem;
  color: white;
}

.art_three {
  background: rgb(97, 95, 95);
  width: 50%;
  padding: 10rem 5rem 0rem 5rem;
  color: white;
}

.art_four {
  background: grey;
  width: 50%;
  padding: 10rem 5rem 0rem 5rem;
  color: white;
}

.head_row_article {
  position: absolute;
  left: 36rem;
  top: 7rem;
  background: rgb(230, 222, 222);
  text-align: center;
  color: rgb(12, 7, 7);
  line-height: 1.5rem;
  width: 20%;
}

.author_info {
  display: flex;
  align-items: center;
}

.author_text {
  font-size: 1.5rem;
}

.author_text span {
  font-size: 1rem;
  font-style: italic;
}

.img_div {
  width: 4rem;
  height: 4rem;
  background-color: #000;
  float: left;
  margin-right: 1rem;
  transform: scale(1.1) rotate(-11deg);
  transition: ease 0.2s;
  border: 4px solid #fff;
  border-radius: 6px;
}

.img_div:hover {
  transform: scale(1.1) rotate(0);
}

.description_text {
  margin-top: 3rem;
}

.description_text span {
  padding: 1rem 0 1rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

sub {
  vertical-align: top;
  font-size: 10px;
}

.top-arrow {
  margin: 3rem 0rem;
  font-size: 2.5rem;
}

.header-tag {
  font-size: 2.5rem;
}

.latest-post {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding: 2rem;
}

.latest-post-left,
.latest-post-mid,
.latest-post-right {
  width: 30%;
  height: 80vh;
  padding: 1rem 1rem;
  text-align: left;
}

.latest-post-left:hover,
.latest-post-mid:hover,
.latest-post-right:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 10px 10px 10px grey;
}

.latest-post p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2rem;
  color: rgb(97, 95, 95);
}

.latest-h2,
.latest-post span {
  text-decoration: underline;
}

.latest-h2:hover {
  color: red;
}

.latest-post a:hover {
  background-color: rgb(97, 95, 95);
}

.latest-post span {
  color: rgb(97, 95, 95);
  vertical-align: top;
  text-decoration: none;
}

.latest-post span:hover {
  font-weight: bolder;
}

.latest-sub {
  font-size: 15px;
}

.post-right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: scale(14) rotate();
  transition: ease 0.2s;
}

.bottom-arrow {
  position: absolute;
  bottom: 0px;
  margin-top: 3rem;
  left: 0;
  display: block;
  padding: 1rem 3rem;
  font-size: 2rem;
}

.bottom-arrow:hover {
  background: grey;
  color: black;
}

.members {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem 0;
  padding: 0 2rem;
}

.smashing button {
  padding: 1.2rem 2rem;
  color: black;
  background-color: white;
  border-radius: 1rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

/* .{
  color: rgb(39, 38, 38);
  text-align: center;
} */

.header-p,
.mid-p {
  width: 100%;
  height: 12rem;
  background-color: rgb(212, 209, 209);
  color: rgb(39, 38, 38);
  text-align: center;
  padding: 4rem 1rem;
}
.bottom-p a {
  text-decoration: underline;
  color: inherit;
}

.access_article {
  color: black;
}

.container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 1rem;
}

.smashing_on_tv,
.red-image {
  width: 60%;
  background: #d33a2c;
  filter: grayscale(100%);
  z-index: -10;
  padding: 2rem 2rem;
}

.smash_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 80vh;
  width: 100%;
  color: rgb(177, 168, 168);
}

.smash_img_div {
  width: 15rem;
  height: 20rem;
  border-radius: 50%;
  background-color: #f1eec5;
  filter: grayscale(100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
}

.desc_text {
  text-align: center;
  max-width: 500px;
  padding: 2rem;
  margin: auto;
}

.sign_in_text {
  text-align: center;
}

.smash_button {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  text-align: center;
}

.release {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin-top: 10rem;
  background-color: rgb(39, 38, 38);
}

.release-header,
.release-text,
.release-button,
.release-img {
  margin: 1.3rem 1rem;
  padding: 2rem 2rem;
}

.release-header {
  width: 20rem;
  height: 5rem;
  background-color: rgb(141, 139, 139);
}

.release-text {
  width: 40rem;
  height: 7rem;
  background-color: rgb(141, 139, 139);
}

.release-button {
  width: 15rem;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: rgb(248, 244, 244);
}

.release-img {
  width: 43rem;
  height: 30rem;
  background-color: rgb(196, 177, 177);
}
.p-week {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
  height: 20rem;
  padding: 3rem 1rem;
  background-color: rgb(238, 234, 234);
}

.p-week-img {
  width: 15rem;
  height: 15rem;
  background-color: #000;
  float: left;
  margin-right: 1rem;
  transform: scale(1.1) rotate(-11deg);
  transition: ease 0.2s;
  border: 4px solid #fff;
  border-radius: 6px;
}

.p-week-img:hover {
  transform: scale(1.1) rotate(0);
}

.p-week-text {
  width: 55rem;
  height: auto;
}
