* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
}

nav {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-evenly;
  background-color: red;
  filter: grayscale(100%);
}

.list-hover,
#more-tab {
  padding: 8px;
  color: rgb(196, 192, 192);
  text-decoration: none;
}

.list-hover:hover {
  background-color: rgb(97, 95, 95);
  border-radius: 5px;
}

#more-tab {
  background-color: rgb(97, 95, 95);
  border: solid 1px rgb(97, 95, 95);
  border-radius: 5px;
}

input {
  width: 250px;
  height: 50px;
  padding: 10px 0px 10px 25px;
  font-size: 20px;
  align-self: center;
  border-radius: 5px;
}

.placeholder {
  padding-left: 150px;
}

.logo {
  font-size: 25px;
  text-decoration: none;
  color: rgb(153, 150, 150);
}

.right-nav-items {
  position: relative;
}

.fa-search {
  position: absolute;
  top: 35%;
  margin-left: 5px;
}

.left-nav-items {
  border: 1px dotted gray;
  padding: 1rem 2rem;
  background-color: rgb(233, 229, 229);
}

.container {
  display: flex;
  flex-direction: column;
}

.section_one {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: red;
  height: auto;
}

.section_two {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: rgb(83, 185, 23);
  height: auto;
}

article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.art_one {
  background: grey;
  width: 50%;
  padding: 10rem 5rem 0rem 5rem;
}

.art_two {
  background: rgb(97, 95, 95);
  width: 50%;
  padding: 10rem 5rem 0rem 5rem;
}

.art_three {
  background: rgb(97, 95, 95);
  width: 50%;
  padding: 10rem 5rem 0rem 5rem;
}

.art_four {
  background: grey;
  width: 50%;
  padding: 10rem 5rem 0rem 5rem;
}

.head_row_article {
  position: absolute;
  left: 36rem;
  top: 7rem;
  background: rgb(230, 222, 222);
  text-align: center;
  color: rgb(12, 7, 7);
  line-height: 1.5rem;
  width: 20%;
}

.author_info {
  display: flex;
  align-items: center;
}

.author_text {
  font-size: 1.5rem;
}

.author_text span {
  font-size: 1rem;
  font-style: italic;
}

.img_div {
  width: 4rem;
  height: 4rem;
  background-color: #000;
  float: left;
  margin-right: 1rem;
  transform: scale(1.1) rotate(-11deg);
  transition: ease 0.2s;
  border: 4px solid #fff;
  border-radius: 6px;
}

.img_div:hover {
  transform: scale(1.1) rotate(0);
}

.description_text {
  margin-top: 3rem;
}

.description_text span {
  padding: 1rem 0 1rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

sub {
  vertical-align: top;
  font-size: 10px;
}

.fa-long-arrow-alt-right {
  margin: 3rem 0rem;
  font-size: 2.5rem;
}

.header-tag {
  font-size: 2.5rem;
}

.latest-post {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  transform: scale(14) rotate();
  transition: ease 0.2s;
}

.latest-post-left,
.latest-post-mid,
.latest-post-right {
  width: 25%;
  padding: 2rem 1rem;
}

.latest-post-left:hover,
.latest-post-mid:hover,
.latest-post-right:hover {
  transform: scale(1.1, 1.1);
  box-shadow: grey;
}

.latest-post p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2rem;
  color: rgb(97, 95, 95);
}

.latest-h2,
.latest-post span {
  text-decoration: underline;
}

.latest-h2:hover {
  color: red;
}

.latest-post a:hover {
  background-color: rgb(97, 95, 95);
}

.latest-post span {
  color: rgb(97, 95, 95);
  vertical-align: top;
  text-decoration: none;
}

.latest-post span:hover {
  font-weight: bolder;
}

.latest-sub {
  font-size: 15px;
}

.latest-arrow-back {
  padding-top: 2rem;
}

.latest-arrow-back:hover {
  background-color: rgb(214, 207, 207);
  width: 4rem;
}
